<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: rgb(248, 9, 9);
            font-size: 54px;
        }
        li a{
            color: cornflowerblue;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <H1>ACTS</H1>
    <div class='link'>
        <ul>
        <li><a href="/child">CHILD MARRIAGE</a></li>
        <li><a href="/depression">MENTAL DEPRESSION</a></li>
        <li><a href="/rape">MARITAL RAPE</a></li>
        <li><a href="/rape1">RAPE</a></li>
    </ul>
    </div>
</body>
</html>